/*-------------------
  2017 updates
-------------------*/

/*---------------
	Menu
----------------*/

.pgl-megamenu ul.nav > li > a{
	text-transform: none;
}
/*---------------
	Common
---------------*/
.centered,
.centered p{
	text-align: center;
}
/*--------------
 	sliders
--------------*/
.tparrows:before,
.hesperiden.tparrows:before{
    font-family: FontAwesome !important;
}
/*--------------
	header
--------------*/

#pgl-header .header-content{
	padding-bottom: 5px;
	padding-top: 20px;
}
.header-custom{
  text-align: center;
}
.header-custom h2{
  margin: 0 0 15px;
  font-size: 20px;
}
.call-back-btn{
	/*display: none;*/
	display: inline-block;
	line-height: 30px;
	height: 30px;
	padding: 0 10px;
	border-radius: 5px;
	margin: 10px 0;
	color: #fff;
	background: #e24545;
}
.call-back-btn:hover{
	background: #fff;
	color: #e24545;
	border: solid #e24545 1px;
}
#d_popup_container .ajax-loader{
	display: none;
}
#d_popup_container .wpcf7-response-output{
	border: none !important; 
	text-align: center;
}
.header-custom-search-box{
	margin: 20px 20px 0;
}
/*---------------
	popup
----------------*/
.popup_container{
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	position: fixed;
	top: 0;
	left: 0;
    z-index: 100;
}
.d_popup_inner{
    width: 340px;
    height: 200px;
  margin: 90px auto;
  position: relative;
}
.special_offer_popup_inner{
  width: 550px;
  max-width: 100%;
}
.d_close_popup{
	width: 20px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 10px;

	/*custom*/
	background: #ccc;
	border-radius: 2px;
	line-height: 20px;
	text-align: center;
}
.d_close_popup:hover{
	opacity: .8;
	top: 11px;
}
.form-call-back{
	padding: 20px;
	border-radius: 8px;
	background: #fff;
}
.form-call-back input{
	width: 100%;
    height: 40px;
    border-radius: 4px;
    border: solid 1px #ccc;
    padding: 0 10px;
}
.form-call-back input[type=submit]{
	background: #e24545;
}
.form-call-back input[type=submit]:hover{
	background: #eee;
}
.form-call-back h2{
	text-align: center;
}

/*----------------
	Footer
----------------*/
footer .menu{
	padding-left: 0;
}
.pgl-footer .widget ul li {
    margin-bottom: 8px;
}
/*----------------
	Page
-----------------*/
.heading-title{
	text-transform: none;
}
/*--------------
	Homepage
----------------*/
/*category cards*/
.caption-bar .wpb_singleimage_heading{
	cursor: pointer;
	position: absolute;
	bottom: 12%;
    background: rgba(255,255,255,.8);
    z-index: 2;
    line-height: 1.8;
    padding: 5px;
    font-size: 20px;
    width: 100%;
    text-align: center;
    font-weight: bold;
} 
.caption-bar .wpb_single_image .wpb_wrapper{
	position: relative;
}
.caption-bar .wpb_column .wpb_single_image {
    margin-right: 15px;
    margin-left: 15px;
}
.caption-bar .wpb_column:first-child .wpb_single_image {
    margin-left: 0;
    margin-right: 30px;
}
.caption-bar .wpb_column:last-child .wpb_single_image {
    margin-right: 0;
    margin-left: 30px;
}
.caption-bar .wpb_column.vc_col-sm-6:first-child .wpb_single_image {
	margin-right: 23px;
}
.caption-bar .wpb_column.vc_col-sm-6:last-child .wpb_single_image {
	margin-left: 23px;
}
.caption-bar .wpb_single_image img{
	width: 100%;
}
@media all and (max-width: 767px){
	.caption-bar .wpb_column .wpb_single_image{
		margin-left: 0 !important;
		margin-right: 0 !important;
	}
}
/*---------------
	Search
-----------------*/
.search #pgl-main-content{
	float: right;
}
.search .pgl-content-inner > h2{
	margin: 0 0 1em; 
}
/*---------------
	buttons
----------------*/
.woocommerce a.button, .woocommerce-page a.button, .woocommerce input.button, .woocommerce-page input.button, .woocommerce #respond input#submit, .woocommerce-page #respond input#submit, .woocommerce #content input.button, .woocommerce-page #content input.button, .woocommerce a.added_to_cart, .woocommerce-page a.added_to_cart,  .woocommerce a.checkout-button.button, .woocommerce-page a.checkout-button.button,
.product-quickview .woocommerce .btn-cart, .product-quickview .woocommerce .added_to_cart,
.woocommerce .globalcartbtn, .woocommerce .submit,
.woocommerce .add_to_cart_button, /*.btn-primary.btn-viewcart*/
.table.vartable tr.selected .single_add_to_cart_button,
.product-block .button-item a.button{
	background: #e24545 !important;
    color: #fff;
}
.woocommerce a.button:hover, .woocommerce-page a.button:hover,  .woocommerce #respond input#submit:hover, .woocommerce-page #respond input#submit:hover, .woocommerce #content input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce a.added_to_cart:hover, .woocommerce-page a.added_to_cart:hover,  .woocommerce a.checkout-button.button:hover, .woocommerce-page a.checkout-button.button:hover,
.product-quickview .woocommerce .btn-cart:hover, .product-quickview .woocommerce .added_to_cart:hover,
.woocommerce .globalcartbtn:hover, .woocommerce .submit:hover,
.woocommerce .add_to_cart_button:hover /*.btn-primary.btn-viewcart:hover*/,
.table.vartable tr.selected .single_add_to_cart_button:hover,
.product-block .button-item a.button:hover{
	color: #e24545;
    background: #fff !important;
}
/*
.woocommerce button.button:hover, .woocommerce-page button.button:hover,

*/
.vartable_selectall.button.btn {
    background: inherit !important;
    color: inherit !important;
}
.single_add_to_cart_button {
    padding: 10px 12px !important;
}
/*-----------------------
	Woocommerce
-----------------------*/
.woocommerce .term-description{
	margin-top: 10px;
}
.woocommerce .term-description b{
	display: block;
	font-size: 2em;
	margin: 5px 0;
}

.woocommerce.columns-4 .product.first,
.product.last.first {/*WTF*/
    clear: none !important;
}
.woocommerce.columns-4 .product.first:first-child{
    clear: left !important;
}
.widget.widget_product_categories a[href*=uncategorized] {
    display: none !important;
}
.ampirtex_top_pagination{
  float: right;
  clear: both;
  margin-top: -40px;
}
.paged .ampirtex_top_pagination{
  margin-top: -2px;
  clear: none;
}
@media all and (max-width: 992px){
  .ampirtex_top_pagination{
    display: none;
  }
}

/*WooCartAjax*/
.woocommerce .quantity.wac-quantity .wac-qty-button{
  display: block;
  float: left;
  margin: 10px 10px 0 0;
}
.woocommerce .quantity.wac-quantity{
  width: auto;
}
.woocommerce-page table.cart input.input-text{
  width: 60px;
}
/*Сart checkout grid updates*/
.woocommerce form .woocommerce-billing-fields .form-row-first, .woocommerce-page form .form-row-first{
  width: 100%;
}
/*--------------------
Variations table (woo-variations-table plugin)
---------------------*/
.vartable_globalcart,
.globalcartcol{
	display: none !important;
}
.table.vartable tr.selected{
	background-color: #ccc;
	-webkit-transition: background-color ease .5s;
	-o-transition: background-color ease .5s;
	transition: background-color ease .5s;
}
.table.vartable .single_add_to_cart_button{
	font-size: 13px;
    padding: 8px !important;
    white-space: normal;
    line-height: 1.2em;
}
/*@media all and (max-width: 1000px){*/
	.table.vartable th,
	.table.vartable td{
		padding: 5px !important;
	}
/*}*/

/* form errors*/
.js-var-form-error-inline,
.js-var-form-error{
	font-weight: bold;
    color: red;
}
div.wpcf7-mail-sent-ok,
.wpcf7-response-output{
	border: none !important;
}
/*Variation table on hover*/
.product-block{overflow:hidden;}
.product-block .item_hover_vartale{
    width: 100%;
    -webkit-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
    -webkit-transform:  translateY(110%);
    -ms-transform:  translateY(110%);
    -o-transform:  translateY(110%);
    transform:  translateY(110%);
}
.product-image:hover ~ .item_hover_vartale,
.item_hover_vartale:hover{
    -webkit-transition: all ease-out .3s;
    -o-transition: all ease-out .3s;
    transition: all ease-out .3s;
    -webkit-transform:  translateY(0);
    -ms-transform:  translateY(0);
    -o-transform:  translateY(0);
    transform:  translateY(0);
}
.product-block:hover .product-image .image > a:before {display:none;}
.product-block .item_hover_vartale .vartable{
    margin-bottom:15px;
}
.product-block .item_hover_vartale{
    background: rgba(255,255,255,.9);
    position: absolute;
    bottom: 0;
    z-index: 99;
    padding-bottom: 10px;
}
.product-block .item_hover_vartale .vartable th{
    text-align: center;
}
.product-block .item_hover_vartale .vartable th,
.product-block .item_hover_vartale .vartable td{
    font-size: 12px;
    padding: 0 !important;
    border: none !important;
    text-align: center;
}
.product-block .item_hover_vartale .vartable tr {
    border-top: dashed 1px;
}
.product-block .item_hover_vartale .globalcartbtn{
    float: none;
    width: 80%;
    margin: 0 auto;
}
.product-block .item_hover_vartale .qtycol input {
    width: 60px;
    padding: 0 0 0 5px;
    height: 20px;
    display: inline-block;
}
@media all and (max-width: 991px){
	.item_hover_vartale,
	.product-image:hover ~ .item_hover_vartale,
	.item_hover_vartale:hover{
		display: none;
	}
}




/*Cart*/
.min-total-in-cart{
	text-align: center;
	margin-bottom: 8px;
	font-size: 16px;
}
/*------------------
 Search
-------------------*/
.search .post-thumb {
    margin-bottom: 20px;
    height: 1px;
    padding-bottom: 70%;
    overflow: hidden;
}
.search .blog-container:last-child .blog-container-inner{
	margin-bottom: 40px;
}
.search .blog-content{
	text-align: justify;
}
/*--------------------
    Cart in header
--------------------*/
.header_absolute_buttons{
    position: absolute;
    right: 0;
    top: 3px;
    z-index: 1007;
}
.button_in_nav{
    text-align: center;
    border-radius: 5px;
    padding: 5px 15px;
    float: left;
    margin-left: 10px;
}

.nav-inner .button_in_nav svg{
	margin-right: 10px;
}
.nav-inner .button_in_nav svg path{
    fill: #3a3a3a;
}
.nav-inner .button_in_nav{
	padding: 8px 19px 0 12px;
	height: 44px;
	height: 44px;
	border-radius: 3px;
	background-color: #f4f4f4;
	box-shadow: 0.7px 0.7px 3px 0 rgba(0, 0, 0, 0.83);
}
.nav-inner .my_account_btn{
  background-color: #fbfbfb;
}
.nav-inner .button_in_nav.active{
	box-shadow: 2px 2.2px 3px 0 rgba(0, 0, 0, 0.83), inset -0px -3px 0 0 #c34747;
}
.nav-inner .my_shoppingcart span.cart_icon,
.button_in_nav .fa,
.nav-inner .button_in_nav span.text{
    vertical-align: middle;
    position: relative;
}
.nav-inner .button_in_nav span.text{
	font-size: 16px;
}
.nav-inner .my_shoppingcart span.text{
  vertical-align: baseline;
}
.nav-inner .my_shoppingcart span.count {
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 17px;
    background: #b6b6b6;
    position: absolute;
    top: -8px;
    right: 0;
    color: #fff;
    z-index: 99;
    font-size: 10px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
}
.nav-inner .my_shoppingcart.active span.count{
	background-color: #e24545;
}

.button_in_nav .fa{
    font-size: 27px;
    margin: 0 5px 0 0;
    color: #3a3a3a;
}
.button_in_nav:hover .fa:before{
    color: #e24545;
}
.nav-inner .button_in_nav:hover svg path{
    fill: #e24545;
}
.button_in_nav a > *{
    display: inline-block
}
@media all and (max-width:989px){
    .button_in_nav{display:none;}
}
/*cart button animation*/
.nav-inner .my_shoppingcart.active {
	-webkit-animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
	        animation: shake-bottom 8s cubic-bezier(0.455, 0.030, 0.515, 0.955) 2s infinite both;
}
.woocommerce-cart .nav-inner .my_shoppingcart.active{
  -webkit-animation: none;
  animation: none;
}
/**
 * ----------------------------------------
 * animation shake-bottom
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  1% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  2%,
  4%,
  6% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  3%,
  5%,
  7% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  8% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  9% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  10% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
            transform-origin: 50% 100%;
  }
  1% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
  2%,
  4%,
  6% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  3%,
  5%,
  7% {
    -webkit-transform: rotate(4deg);
            transform: rotate(4deg);
  }
  8% {
    -webkit-transform: rotate(-2deg);
            transform: rotate(-2deg);
  }
  9% {
    -webkit-transform: rotate(2deg);
            transform: rotate(2deg);
  }
}
/*sticky header cart animation*/

.shoppingcart.active > a .count {
	-webkit-animation: heartbeat 1.5s ease-in-out infinite both;
	        animation: heartbeat 1.5s ease-in-out infinite both;
}

.woocommerce-cart .shoppingcart.active > a .count{
  -webkit-animation: none;
  animation: none;
}
/**
 * ----------------------------------------
 * animation heartbeat
 * ----------------------------------------
 */
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}
@keyframes heartbeat {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  10% {
    -webkit-transform: scale(0.91);
            transform: scale(0.91);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  17% {
    -webkit-transform: scale(0.98);
            transform: scale(0.98);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
  33% {
    -webkit-transform: scale(0.87);
            transform: scale(0.87);
    -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
  }
}


/*search icon*/
#pgl-header .search-form{
    right: 150px;
}

/*-------------------
	animation
-------------------*/
.min-total-in-cart.animated{
	-webkit-animation: vibrate-1 0.3s linear infinite both;
	-moz-animation: vibrate-1 0.3s linear infinite both;
	animation: vibrate-1 0.3s linear infinite both;
}
/* ----------------------------------------------
 * Generated by Animista on 2017-5-15 0:38:52
 * http://animista.net
 * T: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}@keyframes vibrate-1{0%{-webkit-transform:translate(0);transform:translate(0)}20%{-webkit-transform:translate(-2px,2px);transform:translate(-2px,2px)}40%{-webkit-transform:translate(-2px,-2px);transform:translate(-2px,-2px)}60%{-webkit-transform:translate(2px,2px);transform:translate(2px,2px)}80%{-webkit-transform:translate(2px,-2px);transform:translate(2px,-2px)}100%{-webkit-transform:translate(0);transform:translate(0)}}

/*-----------
June 2017 - bg image
------------*/
body{
    background: url('./images/bg-textile.jpg');
    color: #000;
    background-attachment: fixed;
}
.pgl-wrapper{
	background: none;
	background: rgba(255,255,255,.65);
}
#pgl-header{
	background: rgba(255,255,255,.55);
}
.nav-container{
	background: #fff;
}
#pgl-filter,
.pgl-paging-footer,
.nav-tabs,
.nav-tabs > li > a:hover{
	border-color: #888;
}
#single-product [itemprop="description"]:after, #single-product [itemprop="description"]:before{
	background: #888;
}
.pgl-sidebar ul.product-categories li a,
.page-title-container .breadcrumbs li a,
.product-block .name a,
.heading-title,
a{
	color: #111;
}
th,
tr:hover{
	background: none;
}
.summary table,
table.shop_table{
	background: rgba(255,255,255,.6);
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
	background: #777;
	color: #fff;
}
/*Testimonials*/
.testimonials_container item{
	margin: 10px 0;
	clear: both;
}
.testimonial-thumbnail img{
	max-width: 120px;
	height: auto;
	border-radius: 100%;
	margin: 10px;
}
.testimonial-thumbnail{
	float: left;
}
.testimonial-content{
	padding: 15px 0;
	margin-left:150px;
}
@media all and (max-width:768px){
	.testimonial-thumbnail{
		float: none;
	}
	.testimonial-content{
	margin-left:0;
	}
}
/*Forms*/
.form-call-back input[type=checkbox],
.wpcf7 input[type=checkbox],
.woocommerce form input[type=checkbox]{
    height: 15px;
    display: inline;
    width: 15px;
    margin: 0;
    margin-top: 5px;
}
@media all and (max-width:768px){
	input[type=checkbox]{
		width: 30px !important;
		height: 30px !important;
	}
}
label .wpcf7-checkbox .wpcf7-list-item-label{
	font-weight: normal;
}
/*-----------
 scroll btn
------------*/
.scroll-to-top.visible{
	bottom: 5%;
  border-radius: 100%;
}
/*---------
 Peoduct cats
-----------*/
.widget_product_categories .product-categories > li > a{ 
	font-weight: bold;
	background: rgba(254, 222, 173,.8);
  padding: 8px;
  margin: 10px 0;
}

.pgl-sidebar ul li ul.sub-menu li, .pgl-sidebar ul li ul.children li{
	padding-left: 25px;
}
.woocommerce .product-category img {
    height: 300px;
}

/* my account */
.woocommerce table.shop_table td.order-actions a:hover{
  color: #333;
}