/**
 * --------------------------------------------------------------------------------
 * 3.0 - Header
 * --------------------------------------------------------------------------------
 */

 #header-topbar{
    background: #fafafa;
   border-bottom: 1px solid #f5f5f5;
    padding: 0;
   .hotline {
     float: left;
     margin: 12px 0;
     padding-right: 15px;
     margin-right: 15px;
     border-right: 1px solid #e9e9e9;
     .fa {
       margin-right: 3px;
     }
   }
   .language-filter {
     margin-top: 10px;
   }
   .welcome-msg {
     margin: 12px 0 10px 0;
     float: left;
   }
   .header-toplinks .links {
     float: right;  margin: 15px 0;
     li {
       float: left; display: inline;padding: 0 10px; border-left: 1px solid #cdcdcd; line-height: 12px;
       a:before {
         display: inline-block;
         font: normal normal normal 14px/1 FontAwesome;
         font-size: inherit;
         text-rendering: auto;
         -webkit-font-smoothing: antialiased;
         -moz-osx-font-smoothing: grayscale;
         transform: translate(0, 0);
         margin-right: 3px;
       }
       a.account:before { content: "\f007"; }
       a.wishlist:before {  content: "\f08a"; }
       a.checkout:before { content: "\f090"; }
       a.login:before { content: "\f13e"; }
       a.register:before { content: "";}
       a:hover { text-decoration: underline;}
       &:first-child {
         border: none;
       }
     }
     .first { border: none;}
   }
}

 #pgl-header{
    background-image: none;
    position: relative;
    z-index: 201;
    &.header-style2{
        .logo{
            text-align: center;
        }
        .header-content{
            padding-bottom: @grid-gutter-width;
            >.container{
                position: relative;
            }
            .absolute{
                position: absolute;
                top:50%;
            }
            .absolute-right{
                right: 0;
                margin-top: -19px;
            }
            .absolute-left{
                left: 0;
                margin-top: -12px;
            }
        }
    }
    .header-content{
        .header-content-inner{
            position: relative;
          .header-static {
            .box {
              .title { font-weight: normal;
                .fa {
                  width: 54px;
                  height: 54px;
                  border: 1px solid #efefef;
                  text-align: center;
                  line-height: 54px;
                  float: left;
                  margin-right: 10px;
                  color: #444;
                  font-size: 18px;
                  padding: 0;
                  .border-radius(50px);
                }
                .text { font-size: 14px; color: #555; }
                .des { display: block; color: #999999; line-height: 16px; font-size: 12px;}
              }
            }
            .box:hover .title .fa {
              border: 1px solid #999;
            }
          }
        }
        padding: 40px 0;
        .logo{
            img{
                max-height: 100px;
            }
        }

        .dropdown-menu{
            z-index: 1006;
            text-align: left;
        }
    }
   .search-form{
     margin-bottom: 30px;
     >[class*="pull-"]{
       width: 270px;
     }
     .form-control{
       background: #f1f1f1;
       border:0;
     }
     .pgl-search{
       .fa{
         color:#cccccc;
       }
     }
   }
   .search-form {
     position: absolute;
     right: 30px;
     bottom: -2px;
     z-index: 9999;
     margin: 0;
     .icon-search {
       width: 27px;
       text-align: center;
       line-height: 28px;
       font-size: 14px;
       color: #666;
       padding-bottom: 10px;
       cursor: pointer;
     }
     .box-search { position: absolute; top: 36px; right: -30px; width: 1170px; background: #fff; padding: 15px 20px; border: 1px solid #eee; display: none; overflow: visible !important;
       .box-search-info {
         position: relative;
         display: inline-block;
         width: 100%;
         background: #f6f6f6;
       }
     }
   }

   .search-form:hover .icon-search { color: #e24545;}
   .search-form:hover .box-search {  }

   
    .header-menu{
        margin-top: -25px;
        margin-bottom: 15px;
        .megamenu{
            text-align: center;
            >li{
                >a{
                    span,.fa{
                        color:@text-color;
                    }
                }
                *{
                    text-align: left;
                }
                .pgl-count-down{
                    span{
                        text-align: center;
                    }
                }
            }
        }
    }
}

.shoppingcart{
 position: absolute;
 z-index: 1007;
 right: 0;
 bottom: 12px;
 >a{
   padding: 0;
   background: url("@{image-theme-path}/icon-top-cart.png") 0 0 no-repeat;
   width: 20px;
   height: 24px;
   font-size: 0;
   position: relative;
   .count{
     width: 20px;
     height: 20px;
     text-align: center;
     line-height: 20px;
     background: @main-color;
     position: absolute;
     top: -8px;
     right: -13px;
     color: #fff;
     z-index: 99;
     font-size: 10px;
     .border-radius(500px);
   }
 }
}


body.logged-in.admin-bar{
  .header-sticky{
    &.fixed{
      top:32px;
    }
  }
}
.header-sticky{
    background: #fff;
    .box-shadow(0 6px 6px -6px rgba(0, 0, 0, 0.5));
    position: fixed;
    top:-100%;
    left:0;
    width: 100%;
    z-index: 9999;
    &.fixed{
        top:0;
        .transition(top 0.8s);
    }
    .map_canvas{
        display: none;
    }
    .search-form {
      float: right;
      position: static;
      padding: 10px 15px 0;
     .icon-search {
       width: 27px;
       text-align: center;
       line-height: 28px;
       font-size: 14px;
       color: #666;
       padding-bottom: 10px;
       cursor: pointer;
     }
     .box-search { 
        position: absolute; 
        width: 100%;
        left:0; 
        background: #fff; 
        padding: 15px 20px; 
        border: 1px solid #eee; 
        display: none; 
        overflow: visible !important;
       .box-search-info {
         position: relative;
         display: inline-block;
         width: 100%;
         background: #f6f6f6;
         .form-control {
           background: #eee;
           border-color: #eee;
         }
       }
     }
   }

   .search-form:hover .icon-search { color: #e24545;}
   .search-form:hover .box-search {  }
    .header-sticky-inner{
        .pgl-megamenu {
            float: left;
            .megamenu > li > a span,.megamenu > li > a .fa{
                color:@text-color;
            }
            .off-canvas-toggle{
                display: none!important;
            }
        }
        .sticky-action{
            margin-top: 0;
        }
      .logo{
        img{
          max-height: 42px;
        }
      }
    }
    .logo{
        max-height: 60px;
        img{
            max-height: 50px;
            padding-top: 5px;
        }
    }

    .shoppingcart{
      position: static;
      float: right;
      padding-top: 10px;
      padding-left: 15px;
    }
    
    .header-sticky-inner{
      position: relative;
    }
    #pgl-mainnav,.sticky-action,.navbar-collapse{
      position: static;
    }

}

.header-style2{
    .header-mainmenu{
        background: #333333;
    }
    .pgl-megamenu{
        .megamenu{
            text-align: center;
            > li {
                border-right: 1px solid #444;
                margin-right: -2px;
                &:first-child{
                    border-left: 1px solid #444;
                }
                >a{
                    padding: 20px!important;
                    color:#fff;
                    &:hover{
                        color:@main-color;
                    }
                }
                &.current-menu-item,&.current-menu-parent,&.current-menu-ancestor,&:hover{
                    background: darken(#333, 10%);
                }
            }
        }
    }
}

.pgl_search{
    position: relative;
    &:hover{
        .fa{
            color: @theme-color-secondary;
        }
    }
    .fa{
        position: absolute;
        right: 10px;
        line-height: 30px;
        color: @text-color;
        top: 0;
        z-index: 1;
    }
    input{
        background-color: transparent;
        color: @theme-color-default;
    }
    input[type="text"]{
        background-color: @white;
        .border-radius(0px);
    }
    > input[type="submit"] {
        border: medium none;
        .size(30px,30px);
        position: absolute;
        right: 0;
        text-indent: -99px;
        top: 0;
        z-index: 99999;
    }
}


#pgl-header.pgl-header2 {
  margin-bottom: 10px;
  .header-content-inner {
    text-align: center;
    .logo { display: inline-block;}
    .search-form { position: static; margin-top: 10px;
      .form-control {
        background: #fff;
        width: 100%;
        margin-top: 10px;
        padding-left: 10px;
        border: 1px solid #fdfdfd;
        font-size: 12px;
        color: #aaa;
        height: 36px;
        font-family: @font-body;
        -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.10);
        -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.10);
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.10);
      }
      #searchsubmit {
        &:hover { color: #333;}
      }
    }
    .shoppingcart {
      position: static; float: right; margin-top: 20px;
      a { font-size: 14px; width: auto; line-height: 30px; padding-left: 35px;
        &:hover { text-decoration: underline;}
        .count { right: auto; left: 13px;}
      }
    }
  }
  .nav-container {
    border: none;
    box-shadow: none;
    .pgl-megamenu {
      text-align: center;
      border-bottom: 1px solid #efeff0;
      .navbar-collapse {
        float: none !important;
        ul.nav {
          float: none;
          li {
            float: none;
            display: inline-block;
            > a {
              color: #444;
              border: none;
            }
            &.current-menu-item,&.current-menu-parent,&.current-menu-ancestor{
              >a{
                color: @main-color;
                border-top-color: transparent;
                background: none;              }
            }

            &:hover>a{
              color: @main-color;
              border-top-color: transparent;
              background: none;
            }
            .current-menu-item{
              >a{
                >span{
                  color:@link-color;
                }
              }
            }
            &.open{
              .woocommerce .product-col{
                visibility: visible!important;
              }
            }
          }
          li.dropdown {
            > a {
              position: relative;
              &:before {
                content: "\f107";
                font: normal normal normal 14px/1 FontAwesome;
                position: absolute;
                right: 5px;
                top: 17px;
              }
            }
          }
        }
      }
    }
  }
}
.header-promotion {
  text-align: center;
  text-transform: uppercase;
  color: #888;
  padding: 20px 0;
  p {display: inline-block; margin: 0; font-size: 12px !important;
    em {color: #333; text-decoration: underline; font-style: normal;}
  }
  a { margin-right: 20px; border-right: 1px solid #e8e8e8;padding-right: 15px; color: #666; position: relative;
    &:before {
      content: "\f0da";
      font-family: FontAwesome;
      position: absolute;
      right: 5px;
      top: -2px;
    }
    &:hover { text-decoration: underline;}
    &:last-child {border:none;}
  }
}

.header-transparent {
  #pgl-header.pgl-header3 {
    position: absolute;
    width: 100%;
  }
  .header-sticky {
    background: #333;
    .box-shadow(0 6px 6px -6px rgba(85, 85, 85, 0.5));
  }
}
#pgl-header.pgl-header3 {
  margin-bottom: 10px;
  #header-topbar {
    border: none;
    background: #212121;
    color: #eee;
    .hotline { margin: 8px 0; border-right: 1px solid #595959;}
    .language-filter { margin: 8px 0 0 10px;}
    .header-toplinks {
      .links {
        margin: 10px 0;
        a {
          color: #eee;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
    select { color: #eee;
      option {
        color: #666;
      }
    }
  }
  .header-content { padding: 40px 0 0;}
  .header-content-inner {
    .logo { display: inline-block; position: relative;  z-index: 99;}
    .search-form { float: right; position: static; margin-top: 15px;
      .icon-search {
        position: relative;
        z-index: 99;
        padding: 0;
        border-right: 1px solid #565657;
        padding-right: 10px;
        margin-right: 10px;
      }
      .box-search {
        top: 50px;
        right: 15px;
        z-index: 99;
      }
    }
    .shoppingcart {
      position: static; float: right; margin-top: 15px;
      a { font-size: 14px; width: auto; line-height: 30px; padding-left: 35px; z-index: 99;
        &:hover { text-decoration: underline;}
        .count { right: auto; left: 13px;}
      }
    }
  }
  .nav-container {
    border: none;
    box-shadow: none;
    .pgl-megamenu {
      text-align: center;
      padding-left: 120px;
      position: relative;
	  top: -40px;
      .navbar-collapse {
        float: none !important;
        ul.nav {
          float: none;
          li {
            > a {
              border: none;
            }
            &.current-menu-item,&.current-menu-parent,&.current-menu-ancestor{
              >a{
                color: @main-color;
                border-top-color: transparent;
                background: none;              }
            }

            &:hover>a{
              color: @main-color;
              border-top-color: transparent;
              background: none;
            }
            .current-menu-item{
              >a{
                >span{
                  color:@link-color;
                }
              }
            }
            &.open{
              .woocommerce .product-col{
                visibility: visible!important;
              }
            }
          }
          li.dropdown {
            > a {
              position: relative;
              &:before {
                content: "\f107";
                font: normal normal normal 14px/1 FontAwesome;
                position: absolute;
                right: 5px;
                top: 17px;
              }
            }
            .dropdown-menu {
              a { color: #333;}
            }
          }
        }
      }
    }
  }
}
.header-transparent {
  #pgl-header.pgl-header3 {
    .search-form {
      .icon-search {
        color: #eee;
      }
    }
    .shoppingcart {
      a {color: #eee; background: url("@{image-theme-path}/h3-icon-top-cart.png") 0 0 no-repeat;  }
    }
    .nav-container {
      .pgl-megamenu {
        .navbar-collapse {
          ul.nav {
            li {
              > a {
                color: #eee;
              }
              &.current-menu-item,&.current-menu-parent,&.current-menu-ancestor{
                >a{
                  color: @main-color;
                  border-top-color: transparent;
                  background: none;              }
              }
              &:hover>a{
                color: @main-color;
                border-top-color: transparent;
                background: none;
              }
              .current-menu-item{
                >a{
                  >span{
                    color:@link-color;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
.header-transparent {
  .header-sticky {
    .search-form {
      float: right;
      position: static;
      .icon-search {
        position: relative;
        z-index: 99;
        padding: 0;
        border-right: 1px solid #565657;
        padding-right: 10px;
        margin-right: 10px;
        color: #eee;
      }
      .box-search {
        top: 50px;
        right: 15px;
        z-index: 99;
      }
    }
    .shoppingcart {
      position: static;
      float: right;
      padding-left: 0;
      a {
        font-size: 14px;
        width: auto;
        line-height: 30px;
        padding-left: 35px;
        z-index: 99;
        color: #eee;
        background: url("@{image-theme-path}/h3-icon-top-cart.png") 0 0 no-repeat;
        &:hover {
          text-decoration: underline;
        }
        .count {
          right: auto;
          left: 13px;
        }
      }
    }
    .pgl-megamenu {
      text-align: left;
      .navbar-collapse {
        float: none !important;
        ul.nav {
          float: none;
          li {
            > a {
              color: #eee;
              border: none;
              > span {
                color: #eee;
              }
            }
            &.current-menu-item, &.current-menu-parent, &.current-menu-ancestor {
              > a {
                color: @main-color;
                border-top-color: transparent;
                background: none;
              }
            }

            &:hover > a {
              color: @main-color;
              border-top-color: transparent;
              background: none;
            }
            .current-menu-item {
              > a {
                > span {
                  color: @link-color;
                }
              }
            }
            &.open {
              .woocommerce .product-col {
                visibility: visible !important;
              }
            }
          }
          li.dropdown {
            > a {
              color: #eee;
              position: relative;
              &:before {
                content: "\f107";
                font: normal normal normal 14px/1 FontAwesome;
                position: absolute;
                right: 5px;
                top: 17px;
              }
            }
            .dropdown-menu {
              a {
                color: #333;
                > span {
                  color: #444;
                }
              }
            }
          }
        }
      }
    }
  }
}