
@import "../bootstrap/variables.less";
@import "variables.less";
@import "../bootstrap/mixins.less";

@import "woocommerce-base.less";

/* Tab Products */
/* =================================================== */
.tabbable.tab-product{
    &.tab-center{
        .nav-tabs{
            >li{
                >a{
                    padding-left: 15px;
                    padding-right: 15px;
                    &:after{
                        right: 0;
                        margin:0 auto;
                    }
                }
            }
        }
    }
    .nav-tabs{
        margin-bottom: @grid-gutter-width+5;
        border:none;
        position: relative;
        text-align: center;
        padding-bottom: 15px;
        &:after{
          content: "";
          width: 138px;
          height: 1px;
          background: #e6e6e7;
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -69px;
        }
        >li{
            position: relative;
            z-index: 1000;
            float: none;
            display: inline-block;
            a{
                font-family: @font-heading;
                background: transparent!important;
                color:#aaa;
                border:0;
                padding: 0;
                font-size: 21px ;
                &:hover{
                    color:#444;
                }
              &:after {
                content: '/';
                display: inline-block;
                color: #aaa;
                margin: 0 10px;
                font-weight: 300;
              }
            }
            &.active{
                a{
                    color:#444;
                    position: relative;
                }
            }
            &:first-child{
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
                a{
                    &:after{
                        content:"";
                        padding: 0;
                    }
                } 
            }
        }
    }
}

.tabs-categories{
  .heading-title {
    margin-bottom: 10px;
  }
  &.tab-center{
    .nav-tabs{
      >li{
        >a{
          padding-left: 15px;
          padding-right: 15px;
          &:after{
            right: 0;
            margin:0 auto;
          }
        }
      }
    }
  }
  .nav-tabs{
    margin-bottom: @grid-gutter-width+5;
    border:none;
    position: relative;
    text-align: center;
    padding-bottom: 15px;
    >li{
      position: relative;
      z-index: 1000;
      float: none;
      display: inline-block;
      border-left: 1px solid #eee;
      padding-left: 5px;
      margin-left: 5px;
      a{
        font-family: @font-body;
        background: transparent!important;
        color:#333;
        border:0;
        padding: 0;
        font-size: 14px ;
        line-height: 20px;
        &:hover{
          color:@main-color;
        }
      }
      &.active{
        a{
          color:@main-color;
          position: relative;
          margin: 0;
          line-height: 20px;
          border-radius: 0;
          border: none;
        }
      }
      &:first-child{
        padding-left: 0;
        border: none;
        margin: 0;
      }
      &:last-child{
        padding-right: 0;
        a{
          &:after{
            content:"";
            padding: 0;
          }
        }
      }
    }
  }
}

/* product slide */

.pgl-mainbody {
  .owl-theme {
    .owl-nav {
      [class*='owl-'] {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        outline: 0;
        z-index: 9;
        font-family: FontAwesome;
        background: none;
        font-size: 0;
        color: #ddd;
        text-align: center;
        text-decoration: none;
        padding: 0;
        &:hover {
          color: #333;
          background: none;
        }
        .fa { font-size: 32px;}
      }
      .owl-prev {
        left: -20px;
      }
      .owl-next {
        right: -20px;
      }
    }
  }
  .product-slide {
    .owl-nav {
      [class*='owl-'] {
        margin-top: -90px;
      }
    }
  }
  .grid-posts {
    .owl-nav {
      [class*='owl-'] {
        margin-top: -70px;
      }
    }
  }
}
.cart_list{
    li{
        margin-bottom: 10px;
        text-transform: none;
    }
}




.woocommerce-notice{
    line-height: 40px;
    a{
        float: right;
    }
}

.product-col{
    &.first{
        clear: left;
    }
    &.col-md-20{
        clear: none!important;
    }
}
.product.first{
    clear: left;
}


// Products Block
//----------------------------------


.box-products{
    position: relative;
    .carousel-controls{
        text-align: center;
        margin-bottom: @section-base-margin;
        .carousel-control{
            position: static;
            opacity: 1;
        }
        .fa{
            border: 2px solid @border-theme-color;
            background-color: transparent;
            color: #333333;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
            padding: 6px 17px;
            font-size: 34px;
            text-shadow: none;
            &:hover{
                border-color: #333;
            }
        }
    }
}

.products{
    .shopcol{
        &.first{
            clear: left;
        }
    }
    .products-list{
        .product-col{
            &:last-child{
                .product-list{
                    margin-bottom: 0!important;
                    padding-bottom: 0;
                    border: 0;
                }
            }
        }
    }
}

.we-bottom-to-top{
    .product-block{
        .image{
            .image-effect {
                position: absolute;
                top:100%;
                left:0;
            }
        }
        &:hover{
            .image{
                >a{
                    .image-hover,.image-effect{
                        .transform(translate3d(0,-100%,0));
                    }
                    
                }
            }
        }
    }
}

.we-fade{
    .product-block{
        .image{
            .image-effect {
                .opacity(0);
            }
        }
        &:hover{
            .image{
                >a{
                    .image-effect{
                        .opacity(1);
                    }
                    .image-hover{
                        .opacity(0);
                    }
                }
            }
        }
    }
}

.we-flip-horizontal{
    .product-block{
        .image{
            .image-effect {
                .rotateY(-180deg);
            }
            .image-hover {
                .rotate(0deg);
            }
        }
        &:hover{
            .image{
                .image-effect {
                    .rotate(0deg);
                    z-index: 1;
                }
                .image-hover {
                    .rotateY(180deg);
                }
            }
        }
    }
}

.we-flip-vertical{
    .product-block{
        .image{
            .image-effect {
                .rotateX(-180deg);
            }
            .image-hover {
                .rotate(0deg);
            }
        }
        &:hover{
            .image{
                .image-effect {
                    .rotate(0deg);
                    z-index: 1;
                }
                .image-hover {
                    .rotateX(180deg);
                }
            }
        }
    }
}

.product-block {
    margin-bottom: 30px!important;
    text-align: center;
    &:hover{
        .product-image{
            .transition(all 0.3s ease-in-out);
            .image img{
            }
            .image > a:before{
                background: fade(#000,10%);
            }
        }
        .woocommerce-action{
            .opacity(1);
        }
    }
    .product-image{
        position: relative;
        box-sizing:border-box;
        -moz-box-sizing:border-box;
        -webkit-box-sizing:border-box;
        width:100%;
        [class*="yith-wcwl"]{
            display: none;
        }
    }
    .image {
        overflow: hidden;
        position: relative;
        .button-action {
          padding: 10px 0;
          background: #fff;
          position: absolute;
          top: 50%;
          margin-top: -22px;
          left: -100%;
          z-index: 999;
          transition: (0.5s);
          a.btn-link {
            display: inline-block;
            border-left: 1px solid #eee;
            width: 50px;
            height: 25px;
            text-align: center;
            line-height: 24px;
            &:hover { color: @main-color;}
          }
          a.btn-quickview {
            border: none;
          }
        }
        .image-effect {
            position: absolute;
            top:0;
            left:0;
        }
        img{
            display: block;
            .backface-visibility(hidden);
            .size(100%, 100%);
            .transition(all 1s cubic-bezier(0.190,1.000,0.220,1.000) 0s);
        }
        >a{
            display: block;
            position: relative;
            &:before{
                display: block;
                content:"";
                position: absolute;
                top:0;
                left: 0;
                .size(100%,100%);
                z-index: 100;
            }
        }
    }
  &:hover {
    .button-action {
      left: 0;}
  }
    .star-rating{
        float: none;
        font-size: 12px;
        width: 5.6em;
        margin: 10px auto 0!important;
    }
    
    .woocommerce-action{
        position: absolute;
        top:50%;
        left:0;
        width: 100%;
        margin-top: -20px;
        background: #fff;
        .opacity(0);
        .transition(all 0.3s);
    }
    .button-item{
        text-align: center;
        position: relative;
        .price { margin-bottom: 10px;}
        .cart-text{

        }
        .yith-wcwl-add-to-wishlist{
            position:relative;
            display: inline-block;
            text-align: center;
            margin-top: 0;
            padding: @grid-gutter-width/3 @grid-gutter-width/3;
            img{
                display: none!important;
            }
            .fa{
                margin-right: 0;
            }
            span{
                display: none;
            }
        }
        .clear{
            display: none;
        }
        .btn-compare,.yith-wcwl-add-to-wishlist a,.btn-cart,.btn-quickview{

        }
        .btn-cart,.btn-quickview,.yith-wcwl-add-to-wishlist{
            &:after{
                content:"";
                display: block;
                .size(1px,13px);
                background: #ddd;
                position: absolute;
                top:50%;
                margin-top: -6px;
                right: 0;
            }
        }
        .added{
            &:before{
                display: none;
            }
        }
        .added_to_cart{
            display: none;
        }
        /* trafficshoe */
        a.button{
          display: inline-block;
          background: #e3e3e3;
          padding: 10px 25px;
          text-align: center;
          white-space: nowrap;
          color: #666;
          line-height: 20px;
          font-size: 14px;
          .border-radius(2px) ;
          &:hover { background: #333; color: #fff;}
        }
    }

    .name{
        margin: 10px 0;
        font-weight: 400;
        a{
            color:#888;
            font-family: @font-body;
            font-size: 14px;
            &:hover{
                color:@link-color;
            }
        }
    }
    .price {
      display: block;
      margin: 5px 0;
    }

    &.product-grid{
        
    }
    
    &.product-deals{
        .onsale{
            display: none;
        }
        .product-image{
            .countdown {
                .countdown-row{
                    position: absolute;
                    bottom:25px;
                    left: 0;
                    z-index: 10;
                    color: #fff;
                    height: 50px;
                    text-align: center;
                    width: 100%;
                    padding: 0 10px;
                    > span {
                        display: block;
                        float: left;
                        width: 25%;
                        padding: 5px;
                        overflow: hidden;
                        position: relative;
                        line-height: 1.6;
                        span {
                            display: block;
                            background: rgba(100, 100, 100, 0.7);
                            color:#fff;
                            &:first-child{
                                padding-top: 5px;
                                .border_radius_top(4px);
                            }
                            &:last-child{
                                .border_radius_bottom(4px);
                                padding-bottom: 5px;
                            }
                        }
                    }
                    
                    .countdown-amount{
                        font-weight: 600;
                    }
                    .countdown-period {
                        text-transform: lowercase;
                        font-weight: 300;
                    }
                } 
            }
        }
    }

    &.product-list{
        overflow: hidden;
        margin-bottom: 30px;
        border-bottom: 1px solid #eee;
        padding-bottom: 30px;
        .product-meta{
            text-align: left;
            margin-left: 220px;
        }
        .product-image{
            width: 200px;
        }
        [itemprop="description"]{
            position: relative;
            margin: 10px 0;
            padding: 20px 0;
            p{
                margin-bottom: 0;
            }
            &:after,&:before{
                content:"";
                display: block;
                position: absolute;
                left: 0;
                .size(100px,1px);
                background: @border-color;
            }
            &:after{
                bottom: 0;
            }
            &:before{
                top: 0;
            }
        }
        .woocommerce-product-rating{
            .woocommerce-review-link{
                display: none;
            }
        }
        .star-rating{
            margin: 0 !important;
            display: inline-block;
        }
        .woocommerce-review-link{
            color:#999999;
            &:hover{
                color:@link-color;
            }
        }
        .name{
            margin: 0 0 12px 0;
            a{
                font-size: @font-size-base*1.25;
            }
        }
        .button-item{
            text-align: left;
            margin-top: 0;
            &:after{
                display: none;
            }
        }
    }
    .category{
        margin: 10px 0;
    }
    .category{
        a{
            color: @main-color;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

.woocommerce-review-link{
    position: relative;
    top:-3px;
    margin-left: 10px;
}

.select2-container .select2-choice>.select2-chosen{
    line-height: 33px;
}


// Sale Product
//----------------------------------

.woocommerce{
    .cart-subtotal{
        td,th{
            border-top:0;
        }
    }
    table.shop_table {
        td{
          padding-left: 10px;
            &.order-actions{
                a{
                    color:@white;
                    &:hover{
                        color:@white;
                    }
                }
            }
            &.product-name{
                font-weight: 600;
            }
        }

        th{
            background:#f5f5f5;
            font-weight: normal;
            color:@title-color;
          font-size: 14px;
          padding-left: 10px;
        }

        &.cart{
            .product-name{
                a{
                    color:  @title-color;
                    line-height: 1.429;
                    font-weight: 500;
                }
            }
            .actions{
                padding: 10px;
            }
        }
        .product-remove a {
            font-size: 1.3em;
        }
        
        .order-total{
            .amount{
                color:@main-color;
            }
        }
        .product-thumbnail {
            border-right: none;
            padding-right: 0;
            width: 110px;
        }
        .product-remove {
            text-align: center;
            width: 30px;
        }
        .product-quantity {
            width: 150px;
        }
        td.product-subtotal {
            font-weight: 600;
        }

        .cart_item{
            td{
                padding: 20px 10px;
            }
        }
        .product-remove a {
            font-size: 1.3em;
        }

        .product-thumbnail {
            border-right: none;
            padding-right: 0;
            width: 150px;
            img{
                .box-shadow(0 5px 6px -4px #999);
                width: 60%;
                margin: 0 auto;
            }
            
        }
        .product-subtotal,.product-price{
            width: 200px;
        }
        
        .product-remove {
            text-align: center;
            width: 40px;
        }

        .product-quantity {
            width: 150px;
        }
    }
}

h3.label{
    font-size: 13px;
    margin-top: 0;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    display: block;
    color:@theme-color-default;
    text-align: left;
    .border-radius(0);
    label{
        font-weight: 700;
    }
}

// Product-Info
//---------------------------------------
.panel-product{
    margin-bottom: 30px!important;
    .panel-heading{
        a{
            text-transform: uppercase;
        }
    }
}
.up-sells{
    margin-bottom: 30px;
}

.product-info{
    .owl-theme{
        .owl-dots{
            //display: block!important;
        }
        .owl-nav{
            //display: none;
        }
    }
}

#single-product{
    div.images {
        width: 100%;
        img{
            box-shadow: none;
            border:1px solid @border-color;
        }
    }
    
    .onsale{
        z-index: 99999;
        right: 30px;
        top: 15px;
    }
    .wishlist-compare{
        padding: 20px 3px;
        border-bottom: 1px solid @border-color;
        a{
            display: inline-block;
            margin-right: 20px;
            padding-right: 20px;
            color: #999999;
            position: relative;
            &:hover{
                color:@main-color;
            }
            &:after{
                content:"";
                display: block;
                .size(1px,10px);
                position: absolute;
                top:50%;
                right: 0;
                margin-top: -5px;
                background: #999;
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
            .fa{
                margin-right: 10px;
            }
        }
    }
    [itemprop="description"]{
        position: relative;
        margin: 10px 0 20px;
        padding: 20px 0;
        p{
            margin-bottom: 0;
        }
        &:after,&:before{
            content:"";
            display: block;
            position: absolute;
            left: 0;
            .size(100%,1px);
            background: @border-color;
        }
        &:after{
            bottom: 0;
        }
        &:before{
            top: 0;
        }
    }
    .product_title{
        margin-bottom: @grid-gutter-width/2;
      text-transform: capitalize;
      font-weight: normal;
      color: #666;
    }
    
    .group_table{
        margin-bottom: 30px;
        .label{
            font-size: 1em;
            label{
                font-weight: 600;
                margin-top: 17px;
            }
        }
        .price{
            >*{
                display: inline-block;
                margin-bottom: 0;
                padding: 0;
            }
        }
    }

    [itemprop="offers"]{
        margin-top: 10px;
        margin-bottom: 10px;
        span.price, p.price {
            font-size: 1.923077em;
            del {
                font-size: 0.72em;
            }
        }
    }
    
    .yith_magnifier_gallery{
        position: relative;
        li{
            float: none;
            a{
                margin:0!important;
                padding: 0 5px!important;
            }
        }
        .owl-nav{
            position: static;
            margin-top: 0;
            width: 100%;
            z-index: 0;
            [class*='owl-']{
                position: absolute;
                display: block;
                z-index: 100;
                top:50%;
                margin-top: -19px;
            }
            .owl-prev{
                left:0;
            }
            .owl-next{
                right: 0;
            }
        }
    }
    .pgl-wooshare{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .fb-like{
        position: relative;
        top:-5px;
    }

    .cart-inner{
        .button{
            float: left;
            display: block;

        }
    }
    .pgl-stock{
        .in-stock{
            color: #333;
            font-weight: bold;
        }
    }
    .yith-wcwl-add-to-wishlist,.compare.button{
        display: none;
    }
    form.cart{
        padding: 20px 0 30px;
        border-bottom: 1px solid @border-color;
        a[style="visibility: hidden;"]{
            display: none;
        }
        .variations{
            margin-bottom: 0;
            .form-group{
                margin-bottom: 0;
                margin-top: 15px;
                &:first-child{
                    margin-top: 0;
                }
            }
            .reset_variations{
                margin-top: 15px;
            }
        }
        .single_variation_wrap{
            margin-top: 15px;
        }
    }

    div.thumbnails{
        a{
            width: 100%;
            padding-right: 10px;
            position: relative;
            display: block;
            text-align: center;
        }
    }
   
    div.summary{
        width: 100%;
        .clear{
            display: none;
        }
        .star-rating{
            width: 69px;
            letter-spacing: 2px;
            font-size: 13px;
            line-height: 1;
            span{
                color: @text-color;
                &:before{
                    letter-spacing: 2px;
                }
            }
        }
        .woocommerce-review-link{
            color:@text-color;
            &:hover{
                color:@link-color;
            }
        }
        .product_meta{
            margin: 15px 0;
          .posted_in {
            a { color: @main-color;
            &:hover { text-decoration: underline;}
            }
          }
        }

        .addthis{
            height: 50px;
            overflow: hidden;
        }
    }
    .cart{
        .added{
            display: none;
        }
        .added_to_cart{
            display: block;
        }
    }
    div.quantity {
        float: left;
        width:auto;
        margin-right:10px;
        .qty{
            width:60px!important;
          border: 1px solid #eee;
        }
    }
    
    .single_variation{
        margin-bottom: 15px;
        p{
            margin:0;
        }
    }
}

#pgl-filter{
    margin-bottom: 20px;
    border-bottom: 1px solid @border-color;
    padding: 15px 0;
    >*{
        margin-bottom: 0;
    }
    >ul{
        padding-top: 8px;
    }
    select{
        margin-bottom: 0;
        appearance:none;
        -moz-appearance:none; /* Firefox */
        -webkit-appearance:none; /* Safari and Chrome */
        border:0;
        background: #f5f5f5;
        padding:0 30px 0 10px;
        display: block;
        position: relative;
        cursor: pointer;
        width: auto;
    }
    .woocommerce-ordering{
        position: relative;
        &:after{
            content: "\f107";
            color:#aaa;
            display: block;
            position: absolute;
            font-family: 'FontAwesome';
            top: 10px;
            right: 10px;
            font-size: 12px;
            line-height: 1;
        }
    }
    >p{
        float: left;
    }
    .switch-layout{
        margin: 2px 0 0;
        li{
            float: left;
            color:@title-color;
            font-weight: 600;
            .fa{
                font-size: 14px;
            }
            a{
                width: 30px;
              height: 30px;
              text-align: center;
              line-height: 30px;
              color: #666;
              display: block;
                margin: 0 10px 0 0;
                border:1px solid #ccc;
                &.active,&:hover{
                    color:#fff;
                    border-color: #666;
                    background: #666;
                }
            }
        }
    }
}


.woocommerce-page{
    .product-info{
        z-index: 1;
    }
    
    div.product{
        form.cart{
            margin: 0;
            &:after,
            &:before{
                display: inline;
            }
            div.quantity{
                float: inherit;
            }
        }
    }

    form.login,
    form.register{
        .border-radius(0px);
        margin-top: 0px;
    }
    table.cart {
        img {
            .size(auto,auto);
        }
        a.remove{
            color: @theme-color-threedary;
            &:hover{
                background-color: transparent;
                color: @theme-color-threedary;
            }
        }
    }
    .cart-collaterals{
        h2{
            color: @theme-color-default;
            font-size: @font-size-base*2;
            margin-bottom: @margin-base-horizontal*2;
            a{
                color: @theme-color-default;
                font-size: @font-size-base*2;
            }
        }
        .cart_totals{
            text-align: left;
            float: left;
            table{
                width: 100%;

            }
            tr{
                th{
                    font-weight: normal;
                    padding-left: 10px;
                }
                td,th{
                    width: 50%;
                    line-height: 30px;
                    padding-left: 10px;
                }
            }
        }
        .shipping-calculator-form{
            display: block !important;
        }
        .shipping_calculator{
            .shipping-calculator-button:after{
                display: none;
            }
        }
        .cross-sells{
            width: 100%;
            margin-top: 15px;
        }
    }
    #respond{
        input#submit{
            display: inline-block;
            padding: @padding-base-vertical @padding-base-horizontal;
            margin-bottom: 0; // For input.btn
            font-size: @font-size-base;
            font-weight: @btn-font-weight;
            line-height: @line-height-base;
            text-align: center;
            vertical-align: middle;
            cursor: pointer;
            border: 1px solid transparent;
            white-space: nowrap;
            .user-select(none);
            background: @theme-color-secondary;
            box-shadow: none;
            border: none;
            .border-radius(0);
            color: @white;
            text-shadow: none;
            &:focus {
                .tab-focus();
            }

            &:hover,
            &:focus {
                background: darken(@theme-color-secondary, 8%);
            }
        }
    }

    nav.woocommerce-pagination{
        text-align: left;
    }
    .woocommerce-result-count{
        float: right;
        margin-top: @margin-base-vertical + 2;
        color: lighten(@black, -10%);
        font-weight: 500;
    }
    form {
        .form-row{
            padding: 0;
            margin-bottom: @margin-base-horizontal*1.2;
        }
    }
    a.button.alt,input.button.alt, a.button,button.button{


    }

    table.cart {
        img {
            .size(auto,auto);
        }
        a.remove{
            color: @theme-color-threedary;
            &:hover{
                background-color: transparent;
                color: @theme-color-threedary;
            }
        }
        input{
            line-height: inherit;
        }
    }
}



// Cart-Info
//---------------------------------------



// CheckOut

// body .woocommerce{
//     #payment{
//         background: transparent;
//         .payment_methods{
//             border-bottom: 0;
//         }
//         div.payment_box{
//             background: #f5f5f5;
//             .box-shadow(none);
//             &:after{
//                 border-bottom-color: #f5f5f5;
//             }
//         }
//     }
// }


#coupon_code{
    width: auto!important;
    .box-shadow(none);
    border: 1px solid #eee;
    height: 41px;
}

.product-quickview{
    background: #FFF;
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
    .woocommerce{
        overflow: hidden;
        div.product form.cart{
            display: inline-block;
        }
        .added_to_cart{
            padding: 3px 10px;
        }
        .btn-cart,.added_to_cart{
            width: 100%;
            text-align: center;
            border:2px solid @title-color;
            background: #fff;
            text-shadow:none;
            color:@title-color;
            font-weight: 600;
            .box-shadow(none);
            .border-radius(0);
            &:hover{
                background: @link-color;
                color:#fff;
                border-color:@link-color;
                .cart-text{
                    color:@white;
                }
            }
        }
        .btn-cart{
            .cart-text{
                display: inline-block;
                margin-left: 5px;
                text-transform: uppercase;
            }
            &.added{
                display: none;
            }
        }
        .product_meta{
            margin:20px 0;
        }
        .entry-summary{
            padding-right: 30px;
        }
        h1{
            margin-top: 20px;
        }
    }
    .quickview-slides{
        position: relative;
        .owl-dots{
            opacity: 0;
            position: absolute;
            bottom: 0;
            width: 100%;
            .transition(all 0.6s);
        }
        &:hover{
            .owl-dots{
                opacity: 1;
            }
        }
    }
}

.product_list_widget{
    dl.variation{
        margin: 5px 0 5px 20px;
        dt,dd{
            display: inline-block;
        }
    }
}

// Item Product Widget
//----------------------------------------

.item-product-widget{
    margin-bottom: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f2f2f2;
    &:last-child{
        padding-bottom: 0;
        border:0;
    }
    .images{
        margin-right: @margin-base-vertical*2;
        width: 80px;
    }
    .product-title{
        font-size: 1.15384em;
        font-weight: 400;
        margin-bottom: 10px;
        line-height: 1.1;
        a{
          color: #888;
          font-family: @font-body;
          font-size: 14px;
            &:hover{
                text-decoration: underline;
            }
        }
    }
    .price{
        color: #333;
        font-size: 16px;
        font-weight: 400;
        ins {
            background: inherit;
            color: #333;
            text-decoration: none;
        }
        del {
            font-size: 13px;
            color:#aaa;
            text-decoration: line-through;
        }
    }
    .product-meta{
        .star-rating{
            color: @text-color;
            margin-bottom: @margin-base-vertical;
            float: inherit;
            height: 15px;
        }
        .title{
            a{
                color:@text-color;
                &:hover{
                    color:@link-color;
                }
            }
        }
        .category{
            font-size: 13px;
            a{
                color: @main-color;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
        
    }
}

.chosen-container{
    width: 100%!important;
}

.chosen-container-single {
    .chosen-single{
        background-image: none;
        border-radius: 0;
        height: 36px!important;
        line-height: 36px!important;
        overflow: visible!important;
        b{
            display: none!important;
        }
    }
}

.chosen-container-active.chosen-with-drop {
    .chosen-single{
        background-image: none;
    }
}


.woocommerce-noreviews{
    margin-left: 40px;
}


#ship-to-different-address { 
    .checkbox{
        padding: 0;
        display: inline-block;
    }
}




